@font-face {
    font-family: "Friend";
    src:
            local("Friend"),
            url("./Assets/Friend-Bold.otf") format("opentype");
}
body{
    font-family: "Friend";
    overflow: hidden;
    text-align: center;
    background-image: url("Assets/SVG/BG_Login_Light.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.mainContainer{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    justify-content: center;
    align-items:flex-end;
}
.connexionContainer{
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
}
.circle {
    background-image: url("Assets/SVG/PFP_Light.svg");
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.connexion{
    font-family: "Friend";
    font-size: 40px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    width: 250px;
    height: 40px;
}
.name{
    font-family: "Friend";
    font-size: 15px;
    border-radius: 25px;
    width: 250px;
    height: 50px;
    border: none;
    padding-left: 15px;
    color: #3e604c;
}