@font-face {
    font-family: "Friend";
    src:
      local("Friend"),
      url("./Assets/Friend-Bold.otf") format("opentype");
  }
p{
    font-family: "Friend";
}
.mainContainer{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    justify-content: center;
    align-items:flex-end;
}
.slideContainer{
    left: 0;
    width: 100%;
    height: 90%;
    top: 10%;
    -webkit-box-shadow: 0px 0px 15px 5px #000000; 
    box-shadow: 0px 0px 15px 0px #000000;
    border-radius: 10px;
    padding: 10px;
}
.title{
    font-size: 110px;
    font-weight: 900;
}
.desc{
    font-size: 32px;
    font-family: Helvetica;
    color: #4d4d4d;
}
.leaderboardContent{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
body{
    overflow: hidden;
}