@font-face {
    font-family: "Friend";
    src:
      local("Friend"),
      url("./Assets/Friend-Bold.otf") format("opentype");
  }
p{
    font-family: "Friend";
}
.mainContainer-light{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    justify-content: space-around;
    align-items:center;
    background-image: url("./Assets/BG_Light.svg");
    background-size: cover;
}
.mainContainer-dark{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    justify-content: space-around;
    align-items:center;
    background-image: url("./Assets/BG_Dark.svg");
    background-size: cover;
}
#sliders{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.slideContainer-light{
    position: relative;
    width: 80%;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    background-color: rgb(228, 228, 228);
}
.slideContainer-dark{
    position: relative;
    width: 80%;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    background-color: rgb(77, 77, 77);
    color: whitesmoke;
}
.title{
    font-size: 100px;
    font-weight: 900;
}
.desc{
    font-size: 32px;
    font-family: Helvetica;
    color: #4d4d4d;
}
.leaderboardContent{
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.imageSlider{
    border-radius: 20px;
    width: 90%;
    height: 50%;
    background-color: white;
}
body{
    overflow: hidden;
}